@import "normalize.css";
@import "fonts.css";
@import "var.css";
@import "header.css";
@import "recent.css";
@import "hero.css";
@import "works.css";
@import "workspage.css";
@import "work.css";
@import "blog.css";
@import "footer.css";

.wrapper
{
    min-height: 100%;
	display: flex;
	flex-direction: column;
}

.line
{
	height: 21px;
	width: 1px;
	background-color: black;
}